[Unit]
Description=Frostgrave Discord Bot
Requires=network.target

StartLimitIntervalSec=60
StartLimitBurst=3


[Service]
Type=simple
WorkingDirectory=/home/projects/frostgrave-discord-bot
ExecStart=/root/.nvm/versions/node/v20.17.0/bin/node--enable-source-maps /opt/ecms/bin/client.mjs
RestartSec=10s
Restart=always
User=root


[Install]
WantedBy=multi-user.target